
<div class="pull-right">
    <a href="#!/createUser" class="btn btn-default" ng-show="hasRole('admin')" title="Create User"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="page-header">
	<h3>User</h3>
</div>

<div ng-repeat="userEntry in userEntries">
	<hr />
	<div class="pull-right">
		<a href="" ng-click="deleteEntry(userEntry)" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="delete"><span class="glyphicon glyphicon-trash"></span></a>
		<a href="#!/edit/{{userEntry.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
	</div>
	<h4>{{userEntry.username}}</h4>
	
</div>
<hr />